body {
    padding: 0;
    margin: 0;
    background-color: #efefee;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
.logo img {
    width: 102.41px;
    height: 28.99px;
}
.input-field input {
    width: 188px;
    height: 36px;
    border-radius: 10px;
    z-index: -1;
    padding: 0px 40px;
    border: none;
    background-color: #aeafb1;
    color: #8E8E8E;
    font-size: 16px;
}
.input-field {
    position: relative;
    margin-left: 150px;
}
.input-field img {
    height: 16px;
    width: 16px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.images { 
    display: flex;
    align-items: center;
    gap: 24px;
}
.images img {
    width: 24px;
    height: 24px;
} 
.human {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #aeafb1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.human img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: 5px;
}
.friends-section {
    display: flex;
    width: 478.03px;
    height: 100px;
    border: 1px solid silver;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 0px 20px;
    border-radius: 8px;
    background-color: white;
    margin: 90px 0 20px;
}
.big-container {
    margin-left: 15%;
    position: relative;
    z-index: -1;
}
.bingo {
    display: flex;
    gap: 30px;
}
.container {
    min-width: 150px;
    max-width: 319px;
    background-color: #efefee;

}
.round-images img {
    width: 66px;
    height: 66px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(207, 6, 222), orange) border-box;
    border-radius: 50%;
    border: 2px solid transparent;
}
.para-image p {
    font-size: 12px;
    padding: 0 0;
    margin-top: 5px;
}
.para-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;
    width: 480px;
    border: 1px silver;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 8px 8px 0 0;
    /* margin-top: 10px; */
    border: 0.5px solid silver;
}
.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left img {
    width: 20px;
    height: 20px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(207, 6, 222), orange) border-box;
    border-radius: 50%;
    border: 2px solid transparent;
}
.left a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600px;
    padding: 10px;
} 
.middle, .img{
    height: 500px;
    width: 500px;
}
.under-nav {
    height: 150px;
    width: 467.5px;
    background-color: #efefee;
    padding: 10px 16px;
    background-color: white;
    border: 0.5px solid silver;
}
.sub-under-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-under-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}
.under-nav p:nth-of-type(1) {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}
.under-nav p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.under-nav span:nth-of-type(1) {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    color: #8E8E8E;
}
.under-nav p:nth-of-type(3) {
    font-size: 14px;
    font-weight: 400;
    color: #8E8E8E;
}
.under-nav p:nth-of-type(4) {
    font-size: 10px;
    font-weight: 400;
    color: #8E8E8E;
}
.last {
    width: 467.01px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: white;
    border-radius: 0 0 8px 8px;
    margin-bottom: 15px;
    border: 0.5px solid silver;
}
.last-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.last-left img {
    width: 24px;
    height: 24px;
}
textarea {
    color: #262626;
    font-size: 14px;
    font-weight: 400px;
    border: none;
}
.last-right a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: lightskyblue;
}
#human-2 {
    width: 60px;
    height: 60px;
}
#human-2 img {
    width: 48px;
    height: 48px;
    top: 9x;
    right: 5px;
    border-radius: 15px;
}
.pix-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pix-username {
    display: flex;
    gap: 20px;

}
.pix-username div :nth-child(1) {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.pix-username div :nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    color: #8E8E8E;
    margin-top: 5px;
}
.anchor a {
    font-size: 12px;
    font-weight: 600;
    color: #0095F6;
    text-decoration: none;
}
.okay {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.okay p {
    font-size: 14px;
    font-weight: 600;
    color: #8E8E8E
}
.okay a {
    font-size: 12px;
    font-weight: 600px;
    text-decoration: none;
    color: #262626;
}
.diff img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#reduce {
    font-size: 12px;
}
.list a {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: #C7C7C7;
    margin: 30px 0;
}
.from {
    font-size: 12px;
    font-weight: 400;
    color: #C7C7C7;
    text-transform: uppercase;
}
.anchor a:hover {
    text-decoration: underline;
}